@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;900&family=Poppins&family=Roboto&display=swap");
:root {
	--headerbg: #e5e5e5;
	--abooutbg: #eeeeee;
	--secondarycolor: #1089ff;
	--primarycolor: #23374d;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: var(--abooutbg);
	font-family: "Poppins", sans-serif;
	line-height: 1.6;
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
}

p,
a,
div {
	font-size: 18px;
}

h1,
h2,
h3 {
	font-weight: 700;
	line-height: 1.2;
	margin: 10px 0;
}

img {
	width: 100%;
}

/* HEADER */

header {
	background-color: var(--headerbg);
	color: var(--primarycolor);
}

header .text-xl {
	font-family: "Montserrat", sans-serif;
	font-weight: 900;
	font-size: 70px;
}

header .text-sm {
	font-family: "Montserrat", sans-serif;
	font-weight: 700;
}

header .person {
	flex-direction: column;
	align-items: flex-start;
	padding-left: 150px;
	line-height: 1.5;
	text-transform: uppercase;
}

.header-navigation {
	background-color: var(--primarycolor);
	width: 60%;
	margin: 50px 0 0 150px;
	border-radius: 5px;
}

.header-navigation ul {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	padding: 15px 0;
	text-align: center;
	text-transform: uppercase;
	font-weight: 400;
}

.header-navigation li {
	border-right: 2px solid var(--abooutbg);
	width: 20%;
}

.header-navigation li:last-child {
	border-right: none;
}

.header-navigation a {
	transition: 0.2s;
	color: var(--abooutbg);
}

.header-navigation a:hover {
	color: var(--secondarycolor);
}

/* ABOUT */

.about {
	background-color: var(--abooutbg);
	color: var(--primarycolor);
	width: 100%;
}

.container.about {
	padding-right: 0;
}

.about-contact {
	margin-left: 150px;
}
.contact {
	display: flex;
	flex-direction: column;
	align-self: stretch;
	position: relative;
	padding-left: 10px;
	padding-top: 10px;
	width: 30%;
}

.contact div:nth-child(4) {
	display: flex;
	position: absolute;
	bottom: 0;
}

.social a {
	width: 30px;
	height: 30px;
	color: var(--headerbg);
	line-height: 30px;
	text-align: center;
	margin: 0 20px 0 0;
	border-radius: 5px;
}

.social .facebook {
	background-color: #4267b2;
	transition: 0.3s;
}
.social .facebook:hover {
	background-color: #fff;
	color: #4267b2;
}
.social .twitter {
	background-color: #1da1f2;
	transition: 0.3s;
}
.social .twitter:hover {
	background-color: #fff;
	color: #1da1f2;
}
.social .linkedin {
	background-color: #0077b5;
	transition: 0.3s;
}
.social .linkedin:hover {
	background-color: #fff;
	color: #0077b5;
}
.social .github {
	background-color: #171515;
	transition: 0.3s;
}
.social .github:hover {
	background-color: #fff;
	color: #171515;
}

.about-me {
	align-items: stretch;
	width: 70%;
	padding-top: 10px;
}

.about-me img {
	margin-right: 25px;
}

/* SKILLS */

.skills {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.circle-skills p {
	text-align: center;
	color: var(--secondarycolor);
}

/* EDUEXP */

.eduexp-container {
	background-color: var(--primarycolor);
	color: var(--abooutbg);
	display: flex;
	flex-direction: column;
}

.eduexp-title {
	text-align: right;
	text-transform: uppercase;
	position: relative;
	padding-bottom: 5px;
}
.eduexp-title:after {
	content: "";
	background: linear-gradient(to left, #1089ff, rgba(0, 0, 0, 0));
	position: absolute;
	bottom: 0;
	right: 0;
	height: 2px;
	width: 80%;
}

.eduexp-text {
	background: var(--secondarycolor);
	width: 20%;
	text-align: center;
	padding: 3px 0;
	border-radius: 10px;
	text-transform: uppercase;
	font-weight: 400;
}

.experience,
.education {
	margin-left: 150px;
}
.experience ul,
.education ul {
	list-style-type: disc;
}

.experience h4,
.education h4 {
	position: relative;
}
.experience .interval,
.education .interval {
	background: var(--secondarycolor);
	padding: 3px 10px;
	border-radius: 10px;
	position: absolute;
	bottom: 0;
	right: 65%;
}

/* FOOTER */

footer {
	background-color: var(--primarycolor);
	color: var(--headerbg);
	width: 100%;
	position: relative;
}
footer:after {
	position: absolute;
	content: "";
	background: linear-gradient(
		90deg,
		rgba(0, 0, 0, 0) 0%,
		rgba(16, 137, 255, 1) 50%,
		rgba(0, 0, 0, 0) 100%
	);
	top: 0;
	left: 0;
	height: 2px;
	width: 100%;
}

.main-content {
	display: flex;
}

.main-content .box {
	flex-basis: 50%;
	padding: 10px 25px;
}
.footer-title {
	position: relative;
}
.footer-title:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 4px;
	/* background-color: var(--headerbg); */
	background: linear-gradient(
		90deg,
		rgba(0, 0, 0, 0) 0%,
		rgba(16, 137, 255, 1) 50%,
		rgba(0, 0, 0, 0) 80%
	);
	bottom: -5px;
	left: 0;
}
.footer-title:after {
	content: "";
	position: absolute;
	width: 40%;
	height: 4px;
	background-color: var(--headerbg);
	bottom: -5px;
	left: 0;
}

.left {
	position: relative;
}

.social {
	display: flex;
	position: absolute;
	bottom: 25px;
}

.center .content span:last-child {
	font-size: 20px;
}
.center .content span:first-child {
	font-size: 20px;
	width: 35px;
	height: 35px;
	line-height: 35px;
	text-align: center;
	border-radius: 50%;
	background-color: var(--headerbg);
	color: var(--primarycolor);
	transition: 0.2s;
}
.center .content span:first-child:hover {
	color: var(--headerbg);
	background-color: var(--primarycolor);
}

.right .content form input,
.right .content form textarea {
	width: 100%;
	background-color: var(--headerbg);
	border: 1px solid var(--secondarycolor);
}
.right .content form .email div,
.right .content form .msg div {
	margin-bottom: 5px;
}
.right .content form input {
	height: 35px;
}
.right .content form button {
	width: 100%;
	height: 40px;
	border-radius: 5px;
	border: none;
	font-size: 20px;
	cursor: pointer;
	color: var(--headerbg);
	background-color: var(--secondarycolor);
	transition: 0.3s;
}
.right .content form button:hover {
	color: var(--primarycolor);
	background-color: var(--headerbg);
}
.bottom {
	text-align: center;
	background-color: var(--secondarycolor);
	padding: 5px;
}
.bottom a {
	color: var(--primarycolor);
	text-decoration: none;
}
.bottom a:hover {
	text-decoration: underline;
}
