:root {
	--headerbg: #e5e5e5;
	--abooutbg: #eeeeee;
	--secondarycolor: #1089ff;
	--primarycolor: #23374d;
}

/* LAYOUT */

.container {
	margin: 0 auto;
	padding: 10px 40px;
}

.flex {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

/* TITTLES DIAMOND */

.title-diamond {
	background-image: linear-gradient(to right, #23374d, rgba(0, 0, 0, 1));
	background-size: 20%;
	background-repeat: no-repeat;
	margin-left: 150px;
	text-align: left;
	padding-left: 10px;
	transform: skew(-30deg);
}

.title-text {
	transform: skew(30deg);
	text-transform: uppercase;
	color: var(--abooutbg);
	font-weight: 400;
	position: relative;
}

.title-text:after {
	content: "";
	background: linear-gradient(to left, #1089ff, rgba(0, 0, 0, 0));
	position: absolute;
	top: 50%;
	right: 0;
	height: 2px;
	width: 80%;
}

/* CIRCLE */

.circle-container {
	display: flex;
	justify-content: center;
	align-items: center;
	background: -webkit-linear-gradient(bottom right, #1089ff 0%, #eeeeee 100%);
	width: 250px;
	height: 250px;
	border-radius: 50%;
}
.container.circle-skills {
	padding-right: 0;
}

.circle-container .circle {
	background-color: var(--abooutbg);
	width: 200px;
	height: 200px;
	border-radius: 50%;
	text-align: center;
	line-height: 200px;
}

/* TEXT */
.text-sm {
	font-size: 1rem;
}
.text-md {
	font-size: 2rem;
}
.text-lg {
	font-size: 2.5rem;
}
.text-xl {
	font-size: 3rem;
}
.bold-sm {
	font-weight: 700;
}

/* SPACING */

.m-1 {
	margin: 1rem;
}
.m-2 {
	margin: 1.5rem;
}
.my-1 {
	margin: 1rem 0;
}
.my-2 {
	margin: 1.5rem 0;
}
.mx-1 {
	margin: 0 1rem;
}
.mx-2 {
	margin: 0 1.5rem;
}

.p-1 {
	padding: 1rem;
}
.p-2 {
	padding: 1.5rem;
}
.py-1 {
	padding: 1rem 0;
}
.py-2 {
	padding: 1.5rem 0;
}
.px-1 {
	padding: 0 1rem;
}
.px-2 {
	padding: 0 1.5rem;
}
