* {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	box-sizing: border-box;
}

body {
	background-image: linear-gradient(#90e0ef, #00b4d8);
	background-repeat: no-repeat;
	height: 100vw;
}

/* NAVI STYLES */
.navigation {
	background-color: #2c3333;
	display: flex;
	flex-wrap: wrap;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
}

.navigation a {
	color: #f5f2e7;
	text-decoration: none;
	text-align: center;
	padding: 14px 16px;
	transition: 0.35s;
	/* display: inline-block; */
}

.navigation a:hover {
	color: #f5f2e7;
	/* background-color: #f5f2e7; */
	transform: scale(1.2);
}

.jumbotron {
	background-image: url(/to-do-app/public/img/main_background5.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	margin: 0 20px 50px;
	height: 500px;
	line-height: 450px;
	/* padding-top: 75px; */
	text-align: center;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.jumbotron h1 {
	font-size: 70px;
	color: #f5f2e7;
	text-shadow: 2px 2px 2px #000000;
}

.flex-container {
	/* border: 1px solid red; */
	margin: 0 20px 50px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.column {
	/* border: 1px solid red; */
	background-color: #395b64;
	height: 300px;
	width: 30%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.footer {
	background-color: #2c3333;
	color: #f5f2e7;
	font-weight: 900;
	padding: 10px;
	text-align: center;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
}
