@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@400;500;700&family=Lato:wght@700&display=swap");
:root {
	--primary-color: #022e57;
	--light-color: #f6f5f5;
	--dark-color: #2d31fa;
	--first-color: #b8fff9;
	--second-color: #276678;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Fredoka", sans-serif;
	color: var(--second-color);
	line-height: 1.6;
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
	color: var(--dark-color);
}

p,
a,
div {
	font-size: 18px;
}

h1,
h2,
h3 {
	font-weight: 700;
	line-height: 1.2;
	margin: 10px 0;
	color: var(--primary-color);
}

img {
	width: 100%;
}

/* HEADER */

header {
	background-image: linear-gradient(to right, #f6f5f5, #f1f1f1);
	margin: 20px 20px 0;
	border-radius: 40px 40px 0 0;
	padding-top: 40px;
	position: relative;
}

header .flex {
	justify-content: space-between;
}

header .logo {
	width: 20%;
	display: flex;
}

header ul {
	display: flex;
}

header a {
	padding: 10px;
	margin: 0 25px;
	line-height: 1.3;
	transition: border 0.1s linear;
	border-bottom: 2px solid transparent;
	color: var(--primary-color);
	font-weight: 500;
}

header a:hover {
	border-color: #fff;
}

.header-navigation--mobile {
	display: none;
}

/* SHOWCASE */

.showcase {
	background-image: linear-gradient(to right, #f6f5f5, #f1f1f1);
	margin: 0 20px;
	border-radius: 0 0 40px 40px;
}

.showcase h1 {
	font-size: 48px;
	margin-top: 40px;
}

.showcase p {
	margin: 40px 0;
	color: var(--primary-color);
}

.showcase .grid {
	gap: 30px;
}

.showcase-links {
	display: flex;
	align-items: center;
	justify-content: center;
}

/* SKILLS  */

.skills-container {
	padding: 50px 0 25px;
	text-transform: uppercase;
}

.column h2 {
	font-size: 25px;
	margin-bottom: 20px;
	color: var(--primary-color);
}

.column p {
	color: var(--primary-color);
	text-align: justify;
}

.column img {
	width: 100px;
	height: 100px;
	transition: 0.35s;
	margin: 0 0 15px;
}

.column img:hover {
	transform: scale(1.2);
}

.grid-3 {
	margin-bottom: 50px;
}

/* ABOUT SECTION */

.about {
	background-color: var(--light-color);
	padding: 50px 0 25px;
}

.about .container {
	display: flex;
	align-items: center;
}

.about .container img {
	border: 3px solid var(--primary-color);
	border-radius: 50%;
	object-fit: cover;
	width: 35%;
	margin-right: 25px;
}

.about-text {
	text-align: justify;
}

.about h2 {
	text-align: center;
	text-transform: uppercase;
}

.about p span {
	color: var(--primary-color);
	font-weight: 900;
	text-transform: uppercase;
}

.about p {
	font-weight: 500;
	color: #276678;
}

/* CERTIFICATES SECTION */

.grid-container {
	display: grid;
	gap: 30px;
	grid-template-columns: 1fr 1fr 1fr;
	grid-auto-flow: row;
	padding: 20px;
}

.grid-item img {
	width: 100%;
	opacity: 0.5;
	transition: 0.3s;
}

.grid-item img:hover {
	/* transform: scale(1.1); */
	opacity: 1;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

/* FOOTER STYLES */

footer {
	width: 100%;
	background-color: /*#2c3333 */ var(--primary-color);
	font-family: "Lato", sans-serif;
}

.main-content {
	display: flex;
}

.main-content .box {
	flex-basis: 50%;
	padding: 10px 20px;
}

.box h2 {
	font-size: 1.125rem;
	font-weight: 600;
	text-transform: uppercase;
	color: var(--light-color);
}

.box .text,
.content p {
	color: var(--light-color);
}

.box .content {
	margin: 20px 0 0 0;
	position: relative;
}

.box .content::before {
	position: absolute;
	content: "";
	background-color: #23120b;
	top: -10px;
	height: 4px;
	width: 100%;
}

.box .content::after {
	position: absolute;
	content: "";
	top: -10px;
	height: 4px;
	width: 30%;
	background-color: var(--second-color);
}

.left .content .social {
	margin: 20px 0 0 0;
}

.left .content p {
	text-align: justify;
}

.left .content .social a {
	padding: 0 3px;
	text-decoration: none;
	color: var(--light-color);
}

.left .content .social a span {
	height: 40px;
	width: 40px;
	margin: 3px 3px;
	background-color: var(--second-color);
	line-height: 40px;
	text-align: center;
	font-size: 18px;
	border-radius: 5px;
	transition: 0.3s;
}

.left .content .social a span:hover {
	background-color: var(--dark-color);
}

.center .content .fas {
	font-size: 1.4375rem;
	background-color: var(--second-color);
	color: var(--light-color);
	height: 45px;
	width: 45px;
	line-height: 45px;
	text-align: center;
	border-radius: 50%;
	cursor: pointer;
	transition: 0.3s;
}

.center .content .fas:hover {
	background-color: var(--dark-color);
}

.center .content .text {
	font-size: 1.07rem;
	font-weight: 500;
	padding-left: 10px;
}

.center .content .phone {
	margin: 8px 0;
}

.right form .text {
	font-size: 1.07rem;
	margin-bottom: 3px;
	color: var(--light-color);
}
.right form .msg {
	margin-top: 10px;
}

.right form input,
.right form textarea {
	width: 100%;
	font-size: 1.07rem;
	background-color: #1a374d;
	border: 1px solid var(--second-color) /* #222222 */;
}

.right form input {
	height: 35px;
}

.right form .footer-btn {
	margin-top: 10px;
}

.right form .footer-btn button {
	height: 40px;
	width: 100%;
	border-radius: 5px;
	border: none;
	outline: none;
	color: var(--light-color);
	background-color: var(--second-color);
	font-size: 1.07rem;
	font-weight: 500;
	cursor: pointer;
	transition: 0.3s;
}

.right form .footer-btn button:hover {
	background-color: var(--dark-color);
}

.right form input:focus,
.right form textarea:focus {
	outline-color: var(--second-color);
}

.bottom {
	padding: 5px;
	font-size: 0.94rem;
	background-color: #23120b;
}

.bottom a {
	color: var(--dark-color);
	text-decoration: none;
}

.bottom a:hover {
	text-decoration: underline;
}

@media (max-width: 1280px) {
	.container.grid {
		grid-template-columns: 1fr;
	}

	.showcase-text {
		grid-row: 1/2;
	}

	.showcase img {
		width: 50%;
		justify-self: center;
	}

	.showcase-text {
		text-align: center;
		margin-top: 40px;
	}
}

@media (max-width: 992px) {
	p,
	a,
	div {
		font-size: 16px;
	}

	.main-content {
		flex-wrap: wrap;
		flex-direction: column;
	}

	.main-content .box {
		margin: 5px 0;
		width: 100%;
	}

	.grid,
	.grid.grid-3 {
		grid-template-columns: 1fr;
	}
}

@media (max-width: 768px) {
	header {
		margin: 10px 10px 0;
		border-radius: 20px 20px 0 0;
	}

	nav.header-navigation {
		position: fixed;
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 0;
		width: 100%;
		height: 50px;
		top: 0;
		left: 0;
		background-color: var(--primary-color);
	}

	.header-navigation a {
		color: var(--light-color);
	}

	header .logo {
		width: 20%;
	}

	.logo h1 {
		align-self: center;
	}

	.showcase {
		margin: 0 10px;
		border-radius: 0 0 20px 20px;
	}

	.showcase img {
		justify-self: center;
		width: 100%;
	}

	.showcase-text {
		margin-top: 0;
	}

	.grid-container {
		grid-template-columns: 1fr 1fr;
	}

	.grid-container img {
		opacity: 1;
	}

	.about .container {
		flex-direction: column;
	}

	.about .container .about-text {
		padding: 0 25px;
	}
}

@media (max-width: 576px) {
	header .logo {
		width: 10%;
	}

	header .logo h1 {
		font-size: 25px;
	}

	.showcase h1 {
		font-size: 30px;
	}
	.showcase p {
		padding: 0 25px;
	}
	.showcase-links {
		flex-direction: column;
		align-content: center;
	}
}
