@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@400;500;700&display=swap");
:root {
	--primary-color: #42c2ff;
	--light-color: #85f4ff;
	--dark-color: #2d31fa;
	--first-color: #b8fff9;
	--second-color: #effffd;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	/* background-image: linear-gradient(#90e0ef, #00b4d8); */
	background-repeat: no-repeat;
	font-family: "Fredoka", sans-serif;
	color: var(--dark-color);
	line-height: 1.6;
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
	color: var(--dark-color);
}

p,
a,
div {
	font-size: 18px;
}

h1,
h2,
h3 {
	font-weight: 700;
	line-height: 1.2;
	margin: 10px 0;
	color: var(--primary-color);
}

img {
	width: 100%;
}

/* NAVI STYLES */

/* SHOWCASE */

/* FLEX CONTAINER FOR COLUMNS STYLES  */
.flex-container {
	background-color: var(--second-color);
	padding: 30px;
	display: flex;
	justify-content: space-between;
}

/* .column {
	background-color: var(--second-color);
	width: 30%;
	margin: 20px 0;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	text-align: center;
	padding: 25px 25px;
	color: var(--dark-color);
} */

.column h2 {
	font-size: 25px;
	margin-bottom: 20px;
	/* color: #f5f2e7; */
}

.column p {
	font-size: 18px;
	/* color: #f5f2e7; */
	text-align: justify;
}

.column img {
	width: 100px;
	height: 100px;
	transition: 0.35s;
	margin: 0 0 15px;
}

.column img:hover {
	transform: scale(1.2);
}

.git a {
	text-transform: uppercase;
	text-decoration: none;
	color: #f4511e;
	font-weight: 900;
	margin-top: 25px;
	display: inline-block;
	transition: 0.35s;
}

.git a:hover {
	color: #f1754f;
}

/* ABOUT SECTION STYLES */

.about {
	background-color: #f5f2e7;
	padding: 25px;
	display: flex;
	flex-direction: row;
	/* align-items: center; */
	justify-content: space-between;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	color: #2c3333;
}

.about-text {
	flex-direction: column;
	text-align: justify;
	flex-grow: 2;
	border: 1px solid green;
}

.avatar {
	flex-grow: 1;
	border: 1px solid red;
}

.about img {
	border: 3px solid #2666cf;
	object-fit: scale-down;
	border-radius: 50%;
}

.about h2 {
	text-align: center;
	color: #2666cf;
	padding-bottom: 20px;
	font-size: 50px;
	font-weight: 900;
	text-transform: uppercase;
	/* text-shadow: 2px 2px 2px #2c3333; */
}

.about p {
	font-size: 20px;
}

.about p span {
	color: #2666cf;
	font-weight: 900;
	text-transform: uppercase;
}

/* CERTIFICATES SECTION STYLES */

.grid-container {
	display: grid;
	gap: 30px;
	grid-template-columns: 1fr 1fr 1fr;
	grid-auto-flow: row;
	padding: 20px;
}

.grid-item {
	/* padding: 20px; */
	font-size: 30px;
	text-align: center;

	/* border: 1px solid #2c3333; */
}

.certificates h2 {
	margin-top: 25px;
	font-size: 35px;
	color: #2c3333;
	font-weight: 700;
	text-align: center;
}

.grid-item img {
	width: 100%;
	opacity: 0.5;
	transition: 0.3s;
}

.grid-item img:hover {
	/* transform: scale(1.1); */
	opacity: 1;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

/* FOOTER STYLES */
/* .footer {
	background-color: #2c3333;
	color: #f5f2e7;
	padding: 20px;
	text-align: center;
	width: 100%;
	margin: 0;
	height: 200px;
} */

footer {
	/* position: fixed; */
	/* bottom: 0px; */
	width: 100%;
	background-color: #2c3333;
}

.main-content {
	display: flex;
}

.main-content .box {
	flex-basis: 50%;
	padding: 10px 20px;
}

.box h2 {
	font-size: 1.125rem;
	font-weight: 600;
	text-transform: uppercase;
	color: #f5f2e7;
}

.box .text,
.content p {
	color: #f5f2e7;
}

.box .content {
	margin: 20px 0 0 0;
	position: relative;
}

.box .content::before {
	position: absolute;
	content: "";
	background-color: #1c1f1f;
	top: -10px;
	height: 4px;
	width: 100%;
}

.box .content::after {
	position: absolute;
	content: "";
	top: -10px;
	height: 4px;
	width: 30%;
	background-color: #2666cf;
}

.left .content .social {
	margin: 20px 0 0 0;
}

.left .content p {
	text-align: justify;
}

.left .content .social a {
	padding: 0 3px;
	text-decoration: none;
	color: #f5f2e7;
}

.left .content .social a span {
	height: 40px;
	width: 40px;
	background-color: #1a374d;
	line-height: 40px;
	text-align: center;
	font-size: 18px;
	border-radius: 5px;
	transition: 0.3s;
}

.left .content .social a span:hover {
	background: #2666cf;
}

.center .content .fas {
	font-size: 1.4375rem;
	background-color: #1a374d;
	color: #f5f2e7;
	height: 45px;
	width: 45px;
	line-height: 45px;
	text-align: center;
	border-radius: 50%;
	cursor: pointer;
	transition: 0.3s;
}

.center .content .fas:hover {
	background-color: #2666cf;
}

.center .content .text {
	font-size: 1.07rem;
	font-weight: 500;
	padding-left: 10px;
}

.center .content .phone {
	margin: 8px 0;
}

.right form .text {
	font-size: 1.07rem;
	margin-bottom: 3px;
	color: #2666cf;
}
.right form .msg {
	margin-top: 10px;
}

.right form input,
.right form textarea {
	width: 100%;
	font-size: 1.07rem;
	background-color: #1a374d;
	border: 1px solid #222222;
}

.right form input {
	height: 35px;
}

.right form .btn {
	margin-top: 10px;
}

.right form .btn button {
	height: 40px;
	width: 100%;
	border-radius: 5px;
	border: none;
	outline: none;
	color: #f5f2e7;
	background-color: #2666cf;
	font-size: 1.07rem;
	font-weight: 500;
	cursor: pointer;
	transition: 0.3s;
}

.right form .btn button:hover {
	background-color: #000;
}

.right form input:focus,
.right form textarea:focus {
	outline-color: #3498db;
}

.bottom center {
	padding: 5px;
	font-size: 0.94rem;
	background-color: #151515;
}

.bottom center span {
	color: #2c3333;
}

.bottom center a {
	color: #3498db;
	text-decoration: none;
}

.bottom center a:hover {
	text-decoration: underline;
}

@media screen and (max-width: 900px) {
	/* footer {
		position: relative;
		bottom: 0px;
	} */

	.main-content {
		flex-wrap: wrap;
		flex-direction: column;
	}

	.main-content .box {
		margin: 5px 0;
	}

	.flex-container {
		flex-wrap: wrap;
		flex-direction: column;
	}

	.column {
		width: 100%;
		margin-bottom: 25px;
	}

	.jumbo-text {
		font-size: 40px;
	}

	.grid-container {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: repeat(5, 1fr);
	}

	.about {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.about img {
		min-width: 100%;
		margin-right: 0;
		margin-bottom: 25px;
	}
}
